/*ESTILS GENERALS*/
body{
    background-image: url(../img/ruby-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*ESTILS PER A LA RESTA DE LA PÀGINA*/

header {
    width: 100%;
    position: sticky;
    top:0;
    background: rgb(255, 123, 125);
    height: 15vh;
    border-radius: 25px;
    text-align: center;
}

header > time{
    border-radius: 20px;
    background-color: #00f;
    color: #fff;
    padding: 10px;
}

nav{
    width: 100%;
    background: rgb(255, 123, 125);
    height: 5vh;
    text-align: center;
    border-radius: 25px;
}

a{
    text-decoration: none;
    margin: 10px;
}

nav > ul li{
    text-align: center;
    display: inline-block;
    padding: 5px;
}

main{
    text-align: center;
    background-color: rgb(255,123,125);
    width: 100%;
    height: 100%;
    margin-top: 15px;
    border-radius: 25px;
}

div{
    width: 50%;
    height: 50%;
    background-color: rgb(228, 67, 67);
    border: 3px solid #000;
    margin: 30px auto;
    padding:10px;
}

div > ul li{
    display: inline-block;
    list-style-type: none;
}

footer {
    width: 100%;
    position: static;
    bottom:0;
    background: rgb(255,123,125);
    height: 15vh;
    border-radius: 25px;
    text-align: center;
}

dl {
    margin: 25px;
}

/*ESTILS AMB PSEUDOCLASES*/

a:hover{
    color: #fff;
    transition: 0.5s;
}

input[required]:invalid,
    textarea[required]:invalid{
    border: red 3px solid;
}

input[required]:valid,
    textarea[required]:valid{
    border: limegreen 3px solid;
}

/*MENú SUMMARY DE ESTILS*/

.estil-sessio {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    background-color: rgb(255, 255, 255);
    border: #000 solid 2px;
    z-index: 99;
    display: none;
}

.estil-sessio ul li{
    list-style: none;
    text-align: justify;
    font-size: small;
}

/* li input[value="crimson"]{
    color:crimson;
} */

/*ESTIL PER AL MISSATGE DE INSESIó A LA BASE DE DADES*/

.db{
    text-align: center;
    padding: 5px;
    border: 3px #8312a0 double;
    width: 99%;
    background: #9c62d3;
    color: #2d193b;
}

/*RESPONSIVE*/

@media screen and (max-width: 800px) {
    
    /*Xicotets dissenys responsive per al alguns elements de la pàgina*/

    time {
        position: fixed;
        bottom: 0%;
        left: 80%;
    }
}