/*ESTILS GENERALS*/
body{
    background-image: url(../img/sapphire-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*ESTILS PER A LA RESTA DE LA PÀGINA*/

header {
    width: 100%;
    position: sticky;
    top:0;
    background: rgb(15,82,186);
    height: 15vh;
    border-radius: 25px;
    text-align: center;
}

header > time{
    border-radius: 20px;
    background-color: #d9dd00;
    color: #000;
    padding: 10px;
}

nav{
    width: 100%;
    background: rgb(15,82,186);
    height: 5vh;
    text-align: center;
    border-radius: 25px;
}

a{
    text-decoration: none;
    margin: 10px;
    color: #d9dd00;
}

nav > ul li{
    text-align: center;
    display: inline-block;
    padding: 5px;
}

main{
    text-align: center;
    background-color: rgb(15,82,186);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-top: 15px;
}

div{
    width: 50%;
    height: 50%;
    background-color: rgb(62, 114, 192);
    border: 3px solid #fff;
    margin: 30px auto;
    padding:10px;
}

div > ul li{
    display: inline-block;
    list-style-type: none;
}

footer {
    width: 100%;
    position: static;
    bottom:0;
    background: rgb(15,82,186);
    height: 15vh;
    border-radius: 25px;
    text-align: center;
}

dl {
    margin: 25px;
}


/*ESTILS AMB PSEUDOCLASES*/

a:hover{
    color: #000;
    transition: 0.5s;
}

input[required]:invalid,
    textarea[required]:invalid{
    border: red 3px solid;
}

input[required]:valid,
    textarea[required]:valid{
    border: limegreen 3px solid;
}

/*MENú SUMMARY DE ESTILS*/

.estil-sessio {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    background-color: rgb(255, 255, 255);
    border: #000 solid 2px;
    z-index: 99;
    display: none;
}

.estil-sessio ul li{
    list-style: none;
    text-align: justify;
    font-size: small;
}